*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    /* border: 1px solid red; */
    font-family: Roboto;    
}

body{
    margin-top: 25px;
    background-color: #202020;
}

.header, .hero{
    display: flex;
    width: 80%;
    height: 100px;
    background-color: #1F2937;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    
}

.header-logo{
    color: #F9FAF8;
    font-size: 24px;
}

.header-links{
    display: flex;
    gap: 20px;
}

.header-links div{
    color: #E5E7EB;
}

