*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    /* border: 1px solid red; */
    font-family: Roboto;    
}

.hero-secondary-text{
    color: #E5E7BB;
    font-size: 18px; 
    padding: 5px 0px; 
}

.header-logo{
    color: #F9FAF8;
    font-size: 24px;
}

.hero-main-text{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
} 

body{
    margin-top: 25px;
    background-color: #202020;
}

.header{
    display: flex;
    max-width: 80%;
    height:85px;
    background-color: #1F2937;
    justify-content: space-around;
    align-items: center;
    margin: auto;    
}

.header-links{
    display: flex;
    gap: 20px;
}

.header-links div{
    color: #E5E7EB;
}

.rando-title{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}


/* HERO SECTION */
/* .header{
    display: flex;
    max-width: 80%;
    height: 100px;
    background-color: #1F2937;
    justify-content: space-around;
    align-items: center;
    margin: auto;    
} */


.hero{
    display: flex;
    background-color: #1F2937;
    max-width: 80%;
    height: 500px;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 60px;
    
}


.hero-text{
    max-width: 30%;
}

.hero-image{
    background-color: grey;
    padding: 120px 150px;
    color: white;
}

.hero-button{
    text-align: center;
    background-color: #3882F6;
    color:#E5E7BB;
    font-weight: 700;
    padding: 10px;
    width: 150px;
    border-radius: 10px; 
    

}

.rando{
    display: flex;
    min-height: 500px;
    width: 80%;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    margin: auto;
    gap: 35px;
    background-color: white;
}

.rando-title{

    padding: 35px;
    
}

.boxes{
    display: flex;
    gap: 50px;
}

.box{
    
    width: 150px;
    height: 150px;
    background-color: white;
    border: 3px solid #3882F6;
    border-radius: 20px;

}

.frame{
    
    display: flex;
    max-width: 150px;
    flex-direction: column;
    gap: 5px;

}

.subtext{
    display: flex;
    text-align: center;
}

/* Quote */

.quote{
    background-color: #E5E7EB;
    display: flex;
    width: 80%;
    min-height: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;

}
.quote-text{

    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    max-width: 53%;
    
}

.quote-author{

    display: flex;
    font-weight: 600;
    width: 53%;
    justify-content: right;

}

/* Styles for Call to Action */


.cta{
    background-color: white;
    margin: auto;
    width: 80%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.cta-frame{
    display: flex;
    flex-direction: column;
    justify-content: center;  
    

}

.cta-button-frame{
    /* display: flex; */
    /* align-items: center; */
    /* height: 100px; */
    /* background-color: pink; */
}


.cta-button{

    display: flex;
    background-color: #3882F6;
    color: white;
    width: 110px;
    height: 35px;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 10px;
}

.cta-background{
    background-color: #3882F6; 
    width: 65%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    gap: 300px;
   

}

.cta-pri-text{

    color: white;
    font-weight: 800 ;
    font-size: 24px;

}

.cta-sec-text{

    color: white;
    font-weight: 500;
}

/* .header{
    display: flex;
    max-width: 80%;
    height: 100px;
    background-color: #1F2937;
    justify-content: space-around;
    align-items: center;
    margin: auto;    
} */

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 75px;
    background-color: #1F2937;
    margin: auto;
    color: white;

}