*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: Roboto;
}

body{
    width: 80%;
    margin: auto;
}

.header, .hero {
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    align-items: center;
}

.logo-image{
    color: #F9FAF8;
    font-size: 24px;
    font-weight:bolder;
    padding: 9px;    
}

.links, .hero-secondary-text, .hero-image{
    display: flex;
    justify-content: space-around;
    color:#E5E7EB;    
}

.links div{
    padding: 20px;    
    font-size: 18px;
}
.hero-button{
    background-color: #3882F6;
    padding: 10px;
    width: 130px;
    color: white;
    font-weight: 700;
    border-radius: 15px;
    text-align: center;
    
}

.hero-main-text{
    font-size: 48px;
    font-weight: 900;
    color: #f0faf8;
}

.hero-image{
    background-color: grey;
    padding: 100px;

}
.hero{
    padding: 150px;
}

TEST
